:root {
    --color-four: #ade1c5;
    --all-clear-hover: #e0a9c6;
    
    
    --background: #fbefdb;
    --submit: #3b9938;
    --submit-hover: #7fbf7d;
    --button-click: #446269;
    --all-clear: #ad383c;
    --all-clear-hover: #df5357;
    --hover: #c3d7f8;
    /* --hover: #f8e5c4; */
}

body{
    background-color: var(--background);
}

h1 {
    text-align: center;
}



/* BUTTON INTERACTION */

/* selected operator */
.active, .active:hover {
    background-color: var(--button-click);
}

/* general buttons */
button:hover {
    background-color: var(--hover);
}
.number-btn:active {
    background-color: var(--button-click);
    color: var(--background);
}

/* clear all button */
.clear-all:hover {
    background-color: var(--all-clear-hover);
}
.clear-all:active {
    background-color: var(--all-clear);
}

/* submit button */
#submit-button:hover, .clear-inputs:hover {
    background-color: var(--submit-hover);
}
#submit-button:active, .clear-inputs:active {
    background-color: var(--submit);
}

/* styling an sizing */
input {
    font-size: 16px;
    padding-left: 6px;
    height: 60px;
    border-radius: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
}

button {
    padding: 7px;
    margin: 2px;
    font-size: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

button.operation-btn {
    width: 120px;
    border-radius: 30px;
}

/* might need to adjust these */
#calc-input-form,
#display-total,
#display-history {

    display: flex;
    justify-content: space-around;
}

#display-history li {
    list-style-type: none;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}


ul {
    margin: auto;
    padding: 0px;
}

/* calculation total */
#total {
    text-align: center;
}

/* changing this formatting */
/* .operation-btn {
    display: inline;
    padding: 20px 10px 20px 10px;
} */

.not-selected .operation-btn {
    border: 2px solid red 
}