:root {    
    --background: #fbefdb;
    --submit: #3b9938;
    --submit-hover: #7fbf7d;
    --button-click: #446269;
    --all-clear: #df5357;
    --all-clear-hover: #e0a9c6;
    --hover: #c3d7f8;
}

/* GENERAL STYLING */
body{
    background-color: var(--background);
}
h1 {
    text-align: center;
}

/* Styling an sizing */
input {
    font-size: 16px;
    padding-left: 6px;
    height: 60px;
    border-radius: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
}
button {
    padding: 7px;
    margin: 2px;
    font-size: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

/* Top level div groups */
#calc-input-form,
#display-total,
#display-history {
    display: flex;
    justify-content: space-around;
}

/* List styling */
ul {
    margin: auto;
    padding: 0px;
}
#display-history li {
    list-style-type: none;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 6px;
}

/* calculation total */
#total {
    text-align: center;
}




/* BUTTON INTERACTION */

/* selected operator */
.active, .active:hover {
    background-color: var(--button-click);
}

/* general buttons */
button:hover {
    background-color: var(--hover);
}
button:active {
    background-color: var(--button-click);
    color: var(--background);
}

/* clear all button */
.clear-all:hover {
    background-color: var(--all-clear-hover2);
}
.clear-all:active {
    background-color: var(--all-clear);
}

/* submit button */
#submit-button:hover, .clear-inputs:hover {
    background-color: var(--submit-hover);
}
#submit-button:active, .clear-inputs:active {
    background-color: var(--submit);
    transition: all 0s;
}

/* button warnings */
.operation-btn {
    width: 120px;
    border-radius: 30px;
    transition: box-shadow 1600ms ease-in-out;
}
.number-btn {
    transition: box-shadow 1600ms ease-in-out;
}
.not-selected {
    border: 2px transparent;
    box-shadow: inset 0px 0px 10px 0px red;
    transition: all ;
}

/* history list interaction */
.history-list:hover {
    cursor: pointer;
}

